numpy>=1.24,<2.0
tqdm>=4.65
h5py>=3.8
pandas>=1.5
omegaconf>=2.3
scikit-image>=0.20
scikit-learn>=1.2
urllib3>=1.26
matplotlib>=3.7
opencv-python>=4.8
jupyter>=1.0.0
ipykernel>=6.20
seaborn>=0.12
POT>=0.9
tensorboardX>=2.6